@font-face {
  font-family: wydPlayerFont;
  src: url(../fonts/LL_RECOR.TTF);
}

@font-face {
  font-family: wydBiohazard;
  src: url(../fonts/biohazard.ttf);
}

@font-face {
  font-family: wydSocial;
  src: url(../fonts/social.ttf);
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  
  /*text-align: center;
  padding: 10px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  width: 100%;
  position: fixed;
  bottom: 0px;*/
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nav {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  text-align: center;
  border-radius: 8px;
  border: solid 1px #502102;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px #666666;
  
  /*background: url(../images/wyd-logo-2.0.png) 4px 4px;
  background-size: 20%;
  background-repeat:no-repeat;
  background-color: #222222;*/
  background-image: url(../images/header-bg.jpg);
  background-size: 50%;
  background-repeat: repeat;
}

.view {
  border-radius: 8px;
  background-color: white;
  border: none 1px #502102;
  margin: 0px;
  padding: 20px;
  box-shadow: 0px 0px 8px #ffffff;
}

.footer {
  text-align: center;
  border-radius: 8px;
  /*border-color: #502102;*/
  border-color: white;
  border-style: solid none none none;
  border-width: 3px;
  margin-top: 20px;
  padding-top: 0px;
  color: white;
}

.footer-band-name {
  font-family: wydBiohazard;
  font-size: 200%;
  letter-spacing: 4px;
  line-height: 20px;
}

.footer-social {
  font-family: wydSocial;
  font-size: 400%;
  line-height: 40px;
  transition: all linear 2s;
}

.footer-social > a {
  font-family: inherit;
  transition: all linear 50ms;
}

.footer-social > a.highlight {
  font-family: inherit;
  font-size: 110%;
}

.footer-social a, .footer-social a:hover, .footer-social a:active {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

/*.wyd-player {*/
.wyd-player a.wyd-player-command {
  font-family: wydPlayerFont;
  font-size: 32pt;
  color: #502102;
  /* text-shadow: 0px 0px 16px #9b3d00; */
  text-shadow: 0px 0px 16px #ffffff;
/*}

.wyd-player a.wyd-player-command {*/
  cursor: pointer;
  /*color: inherit;*/
  text-decoration: inherit;
}

.wyd-player a.wyd-player-command:hover {
  cursor: pointer;
  color: #9b3d00;
  text-decoration: inherit;
}

.wyd-player audio {
  display: none;
}

.wyd-player-progress {
  width: 200px;
  height: 4px;
  background: transparent;
  border: solid 1px #502102;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 8px;
}

.wyd-player .progress-buffered {
  height: inherit;
  background: #9b3d00;
}

.wyd-player .progress-elapsed {
  height: inherit;
  background: #502102;
}

.wyd-player {
  /*float: left;*/
}

.wyd-player-time {
  color: #333333;
  font-weight: bold;
}

.wyd-player-title {
  /*color: #B3A49B;*/
  color: #000000;
  font-weight: bold;
}

.header-top {
  position: relative;
}

.header-logo-left {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 20%;
}

.header-logo-right {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 20%;
}

.main-logo {
  width: 60%;
}

.news .news-item h2 {
  font-size: 130%;
  margin-bottom: 4px;
}

.nav-pills {
  display: inline-block;
}

.nav-pills > li {
  font-family: wydBiohazard;
  font-size: 300%;
  line-height: 50%;
  margin-left: 4px;
  margin-right: 4px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: rgba(80, 33, 2, 1);
  box-shadow:  0px 0px 8px #ffffff;
  /*background-color: #502102;*/
  color: white;
}

.nav-pills > li > a,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  /*background-color: rgba(255, 255, 255, 0.25);*/
  /*color: #999999;*/
  color: #ffffff;
  text-shadow:  0px 0px 8px #000000;
}

.nav-pills > li > a:hover {
  background-color: rgba(155, 61, 0, 1);
  box-shadow:  0px 0px 8px #666666;
  /*background-color: #9b3d00;*/
  color: white;
}

.news .news-item .news-item-date {
  font-size: 80%;
}

.the-band p {
  padding-left: 24px;
}

.band-avatars {
  text-align: center;
  height: 210px;
  margin-top: 20px;
}

.band-avatar {
  display: inline;
  margin: 10px;
}

.band-avatar img {
  border-radius: 8px;
  height: 100px;
  transition: all linear 200ms;
  border: 2px solid #9b3d00;
}

.band-avatar.active img {
  border-radius: 16px;
  height: 200px;
}

.band-avatar.highlight img {
  height: 110px;
}

.drink img {
  height: 64px;
  margin-left: 4px;
  margin-right: 4px;
}